/* BLOC NOTES IMPORTANT A FAIRE */

/* @IMPORTS */
@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 200; 300; 400; 500; 600; 700; 800; 900 & display = swap');
@media screen and (min-width:414px){

/* STYLE GENERAL */

    body{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;        
    }

    header, main, footer{
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header{
        background-color: #F93417;        
    }

    main{
        background: linear-gradient(to left bottom, #686261,rgb(13, 13, 13, 0.3));
    }

    footer{
        width: 100vw;
        background-color: black;
    }

    section{
        width: 90vw;
        margin: 5vw;
        border: 2px solid black;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    

/* STYLE CLASSES */

   
/* STYLE ID */

section#images a {
    display: block;
    background: linear-gradient(#F93417,rgb(41, 40, 40));
    margin: 10px;
    /* padding: 10px; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid black;
}

section#images a img {
    max-width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid black;
    box-shadow: 4px 4px 15px black;
}

/* STYLE ANNEXES */



}