
/* ====== NOTES ====== */

/* ====== REMARQUES ====== */

/* ====== @IMPORTS ====== */
 @import url('https://fonts.googleapis.com/css2? family = Varela + Round & display = swap');



/*                                          ---- * STYLE GENERAL DOM * ----                                   */
/*====== PARAMETRAGE GLOBAL ====== */
*
{
    box-sizing: inherit;
    
}
html
{
    font-size: 62.5%;
}
header, footer
{ 
  box-shadow: 0.2rem 0.2rem 0rem rgb(36, 34, 34);
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
  filter: drop-shadow(0.5rem 0.5rem 0.2rem #000000);
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.2rem #4444dd);
  background: linear-gradient(180deg, rgb(0, 17, 255) 0%, rgb(132, 1, 255) 50%, rgb(255, 1, 149) 90%);
}
header, main, footer
{
  margin: 0;
  padding: 0;
  opacity: 1;   
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
header h1, header h2
{
  margin: 0;
  padding-top: 2%;
  height: 20rem;
  width: 30rem;
}
body, header, main, footer
{
  /* border:0.3rem solid rgb(250, 4, 4); */
}

/*                                          ---- * conteneur BODY * ----                                   */
body
{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-weight: 400;       
  color: black;
  font-family: 'Varela Round', sans-serif;      
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(46, 43, 46) 50%, rgb(119, 116, 119) 90%);
  opacity: 1 ;
}
/*                                          ---- * conteneur HEADER * ----                                 */
header
{
  display: flex;
  justify-content: space-around;
  height: 10vh;
}
/*                                          ---- * conteneur MAIN * ----                                   */

/* ====== STYLE des GENERAL ====== */
main
{
  height: 80%;
}
h3
{
  /* border: rgb(255, 255, 255) 0.5rem solid; */
  text-align: center;
  height: 5%;  
}
h3 a
{
  color: white;
  font-size: large;
}
a:link a:visited
{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-variant: small-caps;
}
a:hover
{
  color: red;
  font-weight: bold;
}
 section
{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
      
}
li
{
  list-style-type: none;
}
footer li a
{
  color: white;
}

/* ====== STYLE des CLASSES ====== */
section.search
{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 40%;
  padding: 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  filter: drop-shadow(0.5rem 0.5rem 0.2rem #000000);
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.2rem #4444dd);
  background: linear-gradient(180deg, rgb(0, 17, 255) 0%, rgb(132, 1, 255) 50%, rgb(255, 1, 149) 90%); 
  /* border: rgb(3, 3, 3) 0.5rem solid; */
}
section.search ul, section.search div
{
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.myInputs input
{
  width: 40%;
   border-radius: 2rem;
   -webkit-border-radius: 2rem;
   -moz-border-radius: 2rem;
   -ms-border-radius: 2rem;
   -o-border-radius: 2rem;
}
/* style des placeholder */
.myInputs input::placeholder
{  
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  font-variant: small-caps;
  opacity: 1;
  text-align: center;
}
ul.icones i
{
   font-size: 160%;
  margin: 2rem;
  color: black;
}
section.search button
{
  font-size: 1.2rem;
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 50;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 5rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
section.vignettes
{   
  height:60%;
}
section.vignettes ul
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
section.vignettes ul li
{
  margin-left: 10%;
  margin-bottom: 2.5%;
  width: 50rem;
  height: 40rem;
  padding: 2.5%;
  border: black solid 0.1rem;
  border-radius: 1rem ;
  -webkit-border-radius: 1rem ;
  -moz-border-radius: 1rem ;
  -ms-border-radius: 1rem ;
  -o-border-radius: 1rem ;
  box-shadow: 0.2rem 0.2rem 0rem rgb(36, 34, 34);
  background: linear-gradient(180deg, rgb(0, 17, 255) 0%, rgb(132, 1, 255) 50%, rgb(255, 1, 149) 90%);
}
section.vignettes ul li img
{
  width: 100%;
  height:100%;
  border-radius: 1rem ;
  -webkit-border-radius: 1rem ;
  -moz-border-radius: 1rem ;
  -ms-border-radius: 1rem ;
  -o-border-radius: 1rem ;
  box-shadow: 0.3rem 0.3rem 0.8rem rgb(36, 34, 34);
}
/*                                          ---- * conteneur FOOTER * ----                                   */
/* ====== STYLE des GENERAL ====== */
footer
{ 
   height: 10vh;
}
footer ul
{
padding: 0;
display: flex;
justify-content: space-around;
}
footer ul li
{
  padding-top: 2.5rem;
  align-items: center;
}

/*                                          ---- * @Media QUERIES * ----                                   */
@media screen and (min-width:780px){

  section
  {
    width: 70vw;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width:1200px){
  

 /*                                          ---- * paramètres GENERAUX * ----                                   */
body
{
  width: 100vw;
  /* border: 2px solid blue; */
}
header, footer
{
  width: 98.5vw;
  height: 15vh;
}
   /*                                        ---- * conteneur HEADER * ----                                   */
header
{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
header h1
{
  margin: 0;
  padding: 0;
  width: 45vw;
  height: 14vh;
  font-size: 8rem;
  /* border: 2px solid rgb(0, 0, 0); */
}
header h2
{

  width: 45vw;
  height: 14vh;
  font-size: 4rem;
  /* border: 2px solid rgb(0, 0, 0); */
}

  /*                                          ---- * conteneur MAIN * ----                                   */
main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid rgb(0, 0, 0); */
}
section.vignettes
{ 
   /* border: 2px solid rgb(0, 0, 0);    */
}
section.vignettes ul
{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-right: 10%;
  width: 100%;
  height: 80%;
  /* border: 2px solid rgb(255, 0, 0);     */
}
  
section.vignettes ul li
{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 30rem;
  height: 25rem;
  padding: 2.5%;
  border: black solid 0.1rem;
  border-radius: 1rem ;
  -webkit-border-radius: 1rem ;
  -moz-border-radius: 1rem ;
  -ms-border-radius: 1rem ;
  -o-border-radius: 1rem ;
  box-shadow: 0.2rem 0.2rem 0rem rgb(36, 34, 34);
  background: linear-gradient(180deg, rgb(0, 17, 255) 0%, rgb(132, 1, 255) 50%, rgb(255, 1, 149) 90%);
  /* border: 2px solid rgb(248, 1, 1); */
}
section.vignettes ul li img
{
  width: 100%;
  height:100%;
  border-radius: 1rem ;
  -webkit-border-radius: 1rem ;
  -moz-border-radius: 1rem ;
  -ms-border-radius: 1rem ;
  -o-border-radius: 1rem ;
  box-shadow: 0.3rem 0.3rem 0.8rem rgb(36, 34, 34);
  /* border: 2px solid rgb(255, 0, 0); */
}
ul.icones i
{
  font-size: 300%;
  margin: 2rem;
  color: black;
}

  /*                                          ---- * conteneur FOOTER * ----                                   */
footer
{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
footer ul
{
width: 80%;
padding: 0;
display: flex;
align-items: center;
justify-content: space-around;
}
footer ul li
{
padding-top: 2.5rem;
} 
  
}